.contfirstdiv {
  justify-content: center;
  align-items: center !important;
}
.mycontsec{
  height: 300px;
  width: 100%;
  z-index: -5;
  background-color: #4F46E5;
}
.contthirddivsignin{
  width: 40%;
  margin: auto;
  margin-top: -170px;
}



.form {
  background-color: #fff;
  border: 2px solid;
  border-color: #4F46E5;
  align-items: center !important;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.70rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submitBtn {
  margin: auto;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 50%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signincolor{
  color: #4F46E5;
  cursor: pointer;
 }
 .containerdisp{
   display: flex;
 }



.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }
.loader {
  border-radius: 10rem;
  /* background-color: #fafafda1; */
  width: 100px;
  height: 100px;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



@media (max-width:688px) {
  .contfirstdiv {
    display: block;
    margin-top: 0px;
  }
  .contthirddivsignin {
    min-height: 100%;
    width: 95%;
    margin-top: -160px;

  }

}